* {
  margin: 0;
  padding: 0;
}

header{
  background-color: orange;
  color: white;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}


.container {
  margin: 0 auto;
  width: 1100px;
}

/* header*/
#menu {
  float: right;
}

.colorLightBlue {
  color: #24BA9F;
  font-weight: bolder;
}

#name {
  float: left;
}

menu::after {
  clear: both;
  content: "";
}

li {
  display: inline-block;
  margin-right: 25px;
}

/*section with gradient*/
#gradient {
  background-image: -ms-linear-gradient(top, #FFFFFF 40%, #CCC2C6 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 40%, #CCC2C6 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 40%, #CCC2C6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40, #FFFFFF), color-stop(100, #CCC2C6));
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #CCC2C6 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 40%, #CCC2C6 100%);
  height: 420px;
  padding-top: 80px;
  box-sizing: border-box;
}

.chair {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 40px;
}

#lorem {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  padding: 40px;
  box-sizing: border-box;
  font-size: 15px;
}

.button {
  border-radius: 5px;
  padding: 6px 12px;
  background-color: #24BA9F;
  font-size: 17px;
  color: white;
  text-decoration: none;
  margin-left: 35%;
}

.firstSectionBoxes {
  float: left;
  box-sizing: border-box;
  padding: 15px;
}

.middle {
  width: 43%;
}

.sign {
  font-size: 70px;
  font-weight: bolder;
  margin-top: 90px;
}

/*Section with 3 boxes: two pictures & text*/
.line {
  width: 175px;
  height: 7px;
  background-color: #24BA9F;
  margin-left: 0;
  border-width: 0;
}

#secondSection {
  padding-top: 30px;
  box-sizing: border-box;
  background-color: white;
  height: 300px;
}

.secondSectionBoxes {
  float: left;
  width: 25%;
  box-sizing: border-box;
}

.marginBetweenBoxes {
  margin-left: 90px;
  margin-right: 90px;
  box-sizing: border-box;
}

#text {
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  padding: 20px;
  width: 329px;
  height: 245px;
}

.textOnPicture {
  font-weight: bold;
  font-size: 20px;
  width: 330px;
  height: 50px;
  position: relative;
  bottom: 65px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: -9px;
}

.lineOnPicture {
  width: 175px;
  height: 7px;
  background-color: #24BA9F;
  margin-left: 0;
  border-width: 0;
  position: relative;
  top: -92px;
  left: 0px;
}

#headerOfBox {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

#lastElementOfSectionSecond::after {
  clear: both;
  content: "";
}

#lastElementOfSectionSecond {
  font-size: 14px;
}


/* section with price lists*/

#Prices {
  background-color: #F1F1F1;
  height: 650px;
}

.menu {
  padding-top: 30px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  color: #888888;
}

.basicLine {
  width: 300px;
  height: 7px;
  background-color: #24BA9F;
  margin-left: 0;
  border-width: 0;
}

.circle {
  width: 50px;
  height: 50px;
  border: 2px solid lightgrey;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -30px;
  right: 136px;
}

#middleCircle {
  border: 2px solid #24BA9F;
  background-color: #24BA9F;
}

.small_circle {
  width: 50%;
  height: 50%;
  background-color: lightgrey;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

#middleSmall_circle {
  background-color: white;
}

.priceBox {
  float: left;
  width: 329px;
  box-sizing: border-box;
  height: 490px;
  border: 2px solid lightgrey;
  margin-top: 60px;
  padding: 20px;
  text-align: center;
  position: relative;
  background-color: white;
}

.differentBox {
  color: lightgrey;
  border: 2px solid #24BA9F;
  background-color: #24BA9F;
}

.spaceBetweenBoxes {
  margin-left: 35px;
}

.price {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  color: lightgrey;
  border: 2px solid lightgrey;
  position: absolute;
  top: 80px;
  left: 33%;
  text-align: center;
  font-size: 25px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

#priceNumber {
  font-size: 38px;
  font-weight: 800;
}

#priceLetter {
  font-size: 20px;
}

sup {
  font-size: 15px;
}

.headLine {
  color: #24BA9F
}

#differentHeadline {
  color: white;
}

.priceOption {
  font-size: 22px;
  background-color: lightgrey;
  color: grey;
  width: 325px;
  ;
  text-align: center;
  position: absolute;
  height: 40px;
  line-height: 40px;
  top: 160px;
  left: -109px;
}

.priceOption2 {
  background-color: #F1F1F1;
  color: #808080;
  width: 325px;
  height: 40px;
  line-height: 40px;
  margin-left: -129px;
  text-align: center;
  top: 200px;
  font-size: 22px;
  position: absolute;
}

.priceOption3 {
  background-color: lightgrey;
  color: grey;
  width: 325px;
  height: 40px;
  line-height: 40px;
  margin-left: -129px;
  text-align: center;
  top: 240px;
  font-size: 22px;
  position: absolute;
}

.priceOption4 {
  background-color: #F1F1F1;
  color: #808080;
  width: 325px;
  height: 40px;
  line-height: 40px;
  margin-left: -129px;
  text-align: center;
  top: 280px;
  font-size: 22px;
  position: absolute;
}

.white {
  background-color: white;
  color: grey;
}

.link {
  background-color: #24BA9F;
  color: white;
  display: block;
  height: 30px;
  width: 135px;
  padding-top: 3px;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  top: 257px;
  left: -22px;
  font-size: 20px;
}

.lastLink {
  background-color: white;
  color: #24BA9F;
}

/* section with form*/

#contact-form {
  height: 480px;
}

form {
  margin-top: 50px;
}

input, textarea {
  border: 1px solid #24BA9F;
  width: 100%;
  font: 30px 'Raleway', sans-serif;
  margin-bottom: 20px;
  padding: 5px 0 5px 5px;
}

textarea {
  resize: none;
}

.left-side-form {
  float: left;
  width: 60%;
}

.right-side-form {
  float: right;
  width: 40%;
  height: 350px;
}

.red-chair-image {
  background-image: url("../images/red_chair.png");
  height: 150px;
  background-size: contain;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  top: -15px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label span {
  display: inline-block;
  height: 45px;
  width: 45px;
  float: left;
  margin-left: 90px;
  border: 1px solid #24BA9F;
  background: url("../images/form_ok.jpg") left top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked+label span {
  background: url("../images/form_ok.jpg") -45px top no-repeat;
}

label p {
  font-family: 'Raleway', sans-serif;
  color: grey;
  font-size: 18px;
}

.right-side-form button {
  position: relative;
  color: white;
  background-color: #24BA9F;
  margin-top: 25px;
  width: 77%;
  padding: 17px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font: 30px 'Raleway', sans-serif;
  transition: all .2s ease;
  float: right;
}

/*section: footer*/
#footer {
  height: 70px;
}

.copyright {
  color: grey;
  float: left;
}

.footer-right-side {
  float: right;
  position: relative;
  display: table;
}

.footer-image {
  display: table-cell;
  cursor: pointer;
}

.footer-text {
  text-transform: uppercase;
  color: grey;
  float: right;
  font-weight: 500;
  padding-left: 64px;
}

.footer-text span {
  font-weight: bold;
}
